@charset "utf-8";

html {}

body {}

/* 共通 */

.content {
    margin: 0 auto;
    text-align: center;
}

.p_margin {
    margin: 0;
}

/* header */

#header-menu-wrapper {
    background: #186AC9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#header-top-wrapper {
    background: none;
}

.menu-space {
    padding-right: 10px;
    margin: 0;
}

#header-menu-wrapper h1 {
    margin-right: auto;
}

#header-menu-wrapper p {
    color: #FFF;
}

#header-menu-wrapper p img {
    height: 40px;
    padding-left: 10px;
}

.logo {
    height: 34px;
}

/* アコーディオンメニュー */
.menu-btn {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.inn {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    transform: rotate(135deg);
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    transition: 0.3s ease;
}

.menu-btn.is-open {
    .inn {
        transform: rotate(-45deg);
        margin: 10px 0;
    }
}

.menu {
    position: absolute;
    top: 50px;
    background-color: #FFF;
    width: 20%;
    opacity: 0;
    transition: .0.3s ease-in-out;
    pointer-events: none;
    transform: translateY(-30px);

    ul {
        border: 1px solid #000;

        li {
            height: 60px;
            border-top: 1px solid #000;
            display: flex;
            text-align: center;
            justify-content: center;
        }

        a {
            width: 100%;
            padding: 22px 0px;
            color: #727272;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        a:hover {
            background-color: #186AC9;
            color: #FFF;
        }
    }
}

.menu.is-open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* モーダルウィンドウ */

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.login_background {
    height: 100vh;
    background-color: #1176d3;
    background-image: linear-gradient(0deg, #fce231 0%, #50abfe 50%, #1176d3 100%);
}

#header-top-wrapper {
    margin: 0 30px;
}

.title_logo {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 6px;
}

.title_logo img {
    height: 50px;
}

.sub_title {
    font-weight: bold;
    font-size: 34px;
    color: #fff;
    margin-bottom: 30px;
}

/* ログインフォーム */
.login_form {
    display: inline-block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.login_form p {
    text-align: center;
}

.p_white {
    color: #FFF;
}

.new_user {
    margin-top: 30px;
    margin-bottom: 0px;
}

.new_user a {
    text-decoration: underline;
}

.submit_button input {
    width: 120px;
}

.top_contents {
    border-bottom: 5px solid #DBDBDB;
    padding-top: 30px;
    padding-left: 5%;
}

.middle_content {
    border-bottom: 2px solid #DBDBDB;
    padding-top: 16px;
    padding-left: 12%;
}

/* トップページ（投稿ページ） */
.post_button {
    border: 0px;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-right: 10px;
    margin-bottom: 20px;
}

.post_button_margin {
    margin-right: 15%;
}

.post_button img,
.search_button img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.icon-wrapper {
    margin-right: 10px;
}

.post_icon {
    width: 40px;
    height: 100%;
    margin-right: 10px;
}

.form-floating {
    width: 80%;
    margin-left: 10px;
}

.posts_name {
    flex-grow: 0.95;
}

.post_updated_time {
    font-size: 12px;
}

.custom-btn {
    background-color: #0166c5;
}

.btn-design {
    width: 120px;
}

.btn-design a {
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}

.btn-design a:hover {
    text-decoration: none;
    color: #fff;
}

#confirm {
    padding: 20px;
    border-bottom: 2px solid #DBDBDB;
}

.count_margin_following {
    margin-left: 46px;
}

.count_margin_followed {
    margin-left: 30px;
}

.search_btn {
    margin-top: 20px;
}

/* フォロー・フォロワーリスト */
.follow_p {
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 0;
}

.post_icon_follow {
    width: 40px;
    margin-right: 10px;
}

/* ユーザー検索 */
.search_wrapper {
    padding: 34px 20% 0;
}

.search_form {
    height: 40px;
}

.follow-btn p {
    font-size: 12px;
    margin: 0;
}

.search_button {
    border: 0px;
    width: 40px;
    height: 40px;
    padding: 0;
}

.profile_label {
    margin-right: 80px;
}

.form_size {
    width: 300px;
}
