@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

#header-menu-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.menu-space {
    padding-right: 10px;
}

#header-menu-wrapper h1 {
    margin-right: auto;
}

#header-menu-wrapper p {
    color: #FFF;
}

#header-menu-wrapper p img {
    height: 30px;
    padding-left: 10px;
}

.logo {
    height: 20px;
}

/* アコーディオンメニュー */
.menu-btn {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.inn {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    transform: rotate(135deg);
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    transition: 0.3s ease;
}

.menu-btn.is-open {
    .inn {
        transform: rotate(-45deg);
        margin: 10px 0;
    }
}

.menu {
    position: absolute;
    top: 50px;
    background-color: #FFF;
    width: 20%;
    opacity: 0;
    transition: .0.3s ease-in-out;
    pointer-events: none;
    transform: translateY(-30px);

    ul {
        border: 1px solid #000;

        li {
            height: 60px;
            border-top: 1px solid #000;
            display: flex;
            text-align: center;
            justify-content: center;
        }

        a {
            width: 100%;
            padding: 22px 0px;
            color: #727272;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        a:hover {
            background-color: #186AC9;
            color: #FFF;
        }
    }
}

.menu.is-open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
